input {
    width: 10%;
    height: 20px;
}

input[type=text] {
    font-size: 20px;
}

input[type=submit] {
    width: 10em;
    height: 2em;
    font-size: 25px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    size: 30px;
}

h1 {
    color: blue;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

body {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
table.center {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    border: 1px solid black;
    width: 90%;
    text-align: center;
    font-size: 20px
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

html {
    background-color: rgb(26, 42, 108);
 }
 body {
    background-color: rgb(26, 42, 108);
 }

.page_wrapper {
    background-color: rgb(183, 208, 218);
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 1200px; /* 2 */
    height: auto;

    padding-top: 10px;
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    padding-bottom: 40px;

    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    z-index: -3;
  }



  .content_wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 500px;
    line-height: auto;
    height: auto;

    padding-top: 20px;
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    padding-bottom: 20px;


    background-color: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align: center;

    font-size: medium;
    z-index: -2;
  }
